<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health Tips - RecipeSwap</title>
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="../public/scss/main.css">
</head>
<body>
    <%- include('includes/header.ejs') -%>
    <div class="container-md justify-content-center">
        <div class="row justify-content-space-around">
            <h1 class="display-3 pb-5" style="text-align:center;">Healthy Eating Tips</h1>
        </div>
        <div class="row col-lg-8 offset-lg-2">
            <img src="../public/images/healthyfood.webp" alt="" class="img-fluid pb-5" title="https://www.eatingwell.com/thmb/m5xUzIOmhWSoXZnY-oZcO9SdArQ=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/article_291139_the-top-10-healthiest-foods-for-kids_-02-4b745e57928c4786a61b47d8ba920058.jpg">
            <p class="pb-4">Welcome to our healthy eating tips page! At [Recipe Website Name], we believe that eating well is not just about following recipes; it's also about making informed choices that nourish both your body and your soul. Here, we've gathered some practical tips to help you maintain a balanced and wholesome diet.</p>
            
            <p class="lead">Prioritize Whole Foods</p>
            <p class="pb-4">Focus on consuming whole, minimally processed foods such as fruits, vegetables, whole grains, lean proteins, and healthy fats. These foods are rich in essential nutrients and provide sustained energy throughout the day.</p>
            <p class="lead">Portion Control</p>
            <p class="pb-4">Be mindful of portion sizes to avoid overeating. Use smaller plates, bowls, and utensils to help control portions, and listen to your body's hunger and fullness cues.</p>
            <p class="lead">Include a Variety of Colors</p>
            <p class="pb-4">Incorporate a rainbow of colors into your meals by including a diverse range of fruits and vegetables. Different colored produce contains unique vitamins, minerals, and antioxidants that promote overall health.</p>
            <p class="lead">Limit Added Sugars and Salt</p>
            <p class="pb-4">Reduce your intake of added sugars and salt by choosing foods with minimal processing. Opt for natural sweeteners like honey or maple syrup, and flavor dishes with herbs and spices instead of salt.</p>
            <p class="lead"> Stay Hydrated</p>
            <p class="pb-4">Drink plenty of water throughout the day to stay hydrated and support your body's vital functions. Limit sugary beverages and opt for water, herbal teas, or infused water with slices of fruits or herbs for added flavor.</p>
            <p class="lead">Plan and Prep Meals Ahead</p>
            <p class="pb-4">Set yourself up for success by planning and prepping your meals ahead of time. Batch cooking and meal prepping can save time and make it easier to stick to healthy eating habits, especially during busy weekdays</p>
            <p class="lead">Be Mindful of Your Eating Habits</p>
            <p class="pb-4">Practice mindful eating by paying attention to the sensations of hunger and fullness, as well as the flavors and textures of your food. Avoid distractions like screens or work while eating, and savor each bite.</p>
            <p class="lead">Enjoy Treats in Moderation</p>
            <p class="pb-4">It's okay to indulge in your favorite treats occasionally, but aim for moderation. Savor each bite and be mindful of portion sizes to prevent overindulgence.</p>
            <p class="lead">Listen to Your Body</p>
            <p class="pb-4">Every person's nutritional needs are unique, so listen to your body and adjust your diet accordingly. Pay attention to how different foods make you feel and make choices that support your overall well-being</p>
            <p class="lead">Seek Balance, Not Perfection</p>
            <p class="pb-4">Remember that healthy eating is about balance, not perfection. Aim for progress, not perfection, and celebrate small victories along your journey toward a healthier lifestyle.</p>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>